@import "../mixin/bootstrap-breakpoints";

.navbar {
  background-color: #212121;

  .navbar-toggler {
    border: none;

    .navbar-toggler-icon {
      background: none;

      img {
        height: 24px;
      }
    }
  }
  .text-logo {
    height: 31px;
    transition: all .5s ease-in-out;
    &:hover {
      transform: scale(1.03);
      cursor: pointer;
    }
  }

  .menu-items {
    ul {
      margin-right: auto;
      @include media-query-down(lg) {
       margin-right: 15px;
      }
      li {
        .single-link {
          color: #757575;
          transition: .3s ease-out;
          padding: 8px;
          display: block;
          text-decoration: none;

          @include media-query-down(lg) {
            text-align: right;
          }

          &:hover {
            color: #B2EBF2;
          }
        }
      }
    }
    .search-form {
      @include media-query-down(lg) {
        float: right;
        margin-right: 5px;
      }

      .search-button {
        color: #757575;
        background-color: transparent;
        border: 1px solid;
        border-radius: 2px;

        &:hover {
          cursor: pointer;
          background-color: #757575;
          color: #212121;
        }
      }

      .search-field {
        border-radius: 2px;
        @include media-query-down(md) {
          max-width: 65%;
        }
        @include media-query-down(xs) {
          margin-right: 10px;
        }
      }
    }
  }
}