.add-user-form {
  label {
    background-color: white;
    text-align: left;
    margin-top: 5px;
  }
  select::-ms-expand {
    display: none;
  }

  .button-wrapper {
    text-align: right;
    button {
      margin-top: 15px;
      margin-right: 0;
    }
  }
}