@import "../mixin/bootstrap-breakpoints";

.login-form {
  margin-top: 15px;
  margin-bottom: 50px;

  .logo {
    width: 500px;
    margin: auto;
    display: block;

    @include media-query-down(xs) {
      width: 300px;
    }
  }

  .login-text {
    padding-bottom: 15px;
  }
  .input-group {
    .input-group-addon {
      border-color: #212121;
      border-radius: 2px;
      img {
        height: 15px;
      }
    }
    input {
      border-color: #212121;
      border-radius: 2px;
    }
  }
  .login-required, .password-required {
    color: red;
   // transition: all .4s ease-in-out;
    display: none;
  }

  .btn {
    a {
      color: #000;
    }
  }

  .form-check {
    .form-check-label {
      .form-check-input {
        margin-top: 7px;
      }
    }
  }

  .forgot-password {
    text-decoration: none;
    padding-left: 15px;
    transition: .3s ease-in-out;
  }
}